{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}


<div class="container">
  <div class="card">
    <div class="card-body">
        <h5 class="card-title text-center text-danger">Add Partner</h5>
        <form action="{% url 'managementApps:create_partner' %}" method="post" id="partnerForm">
            {% csrf_token %}
        
            <div class="row">
                <div class="col">
                  <label for="partnername">Partner Name</label>
                <input type="text" class="form-control mt-2" name="partnername" id="partner-name"  required>
                
                <div class="col">
                  <label for="partnerkey">Partner Key</label>
                <input type="text" class="form-control mt-2" name="partnerkey" required>
      
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="dns">DNS</label>
                <input type="text" class="form-control mt-2" name="dns"  required>
                </div>
                <div class="col">
                  <label for="company_name">Company Name</label>
                <input type="text" class="form-control mt-2" name="company_name"  required>
                </div>
              </div>
      
              <div class="row">
                <div class="col">
                  <label for="country_name">Country Name</label>
                  <input type="text" class="form-control mt-2" name="country_name"  required>
                </div>
              </div>

            <input type=button class="btn btn-primary mt-3" value="Back" onClick="javascript:history.go(-1);">
            <button type="submit" class="btn btn-primary mt-3 text-center">Save</button>
          </form>
    </div>
  </div>
  </div>

  {% include 'managementApps/partials/footer.html' %}