{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}

{% include 'managementApps/partials/alert.html' %}

<div class="container-fluid">
  <div class="row flex-nowrap">

    {% include 'managementApps/partials/sidenav.html' %}

    <div class="col py-3">
      <div class="text-center mt-2">
        {% include 'managementApps/partials/alert.html' %}
        <span class="h3">Partner Config</span>
        <hr>
        <a href="/app/home/add-partner" class="float-end btn btn-primary me-3"> + Add
          Partner</a>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">Serial</th>
            <th scope="col">Partner Name</th>
            <th scope="col">Partner Key</th>
            <th scope="col">DNS</th>
            <th scope="col">Company</th>
            <th scope="col">Country</th>
            {% if 'write' in user.permissions %}
            <th scope="col">Update</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for partner in partners %}
          <tr class="text-center">
            <th scope="row">{{partner.partner_id}}</th>
            <td>{{partner.partnername}}</td>
            <td>{{partner.partnerkey}}</td>
            <td>{{partner.dns}}</td>
            <td>{{partner.company_name}}</td>
            <td>{{partner.country_name}}</td>
            {% if 'write' in user.permissions %}
              <td> <a href="/app/home/partner/update/{{partner.partner_id}}" class="update-partner btn btn-dark">Update</a></td>
              {% endif %}


          </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>





{% include 'managementApps/partials/footer.html' %}