{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}

<div class="container-fluid">
    <div class="row flex-nowrap">

{% include 'managementApps/partials/sidenav.html' %}

  <div class="col py-3">
    <div class="text-center mt-2">
        <span class="h3" >Partner Config</span>
        <hr>
        <button class="float-end btn btn-success"> + Add Partner</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Partner</th>
            <th scope="col">Hostname</th>
            <th scope="col">IP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</div>

{% include 'managementApps/partials/footer.html' %}