

{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}

{% include 'managementApps/partials/alert.html' %}

<div class="container-fluid">
  <div class="row flex-nowrap">

    {% include 'managementApps/partials/sidenav.html' %}

    <div class="col py-3">
      <div class="text-center mt-2">
        <span class="h3">Site Config</span>
        <hr>
        <a href="/app/home/add-site" class="float-end btn btn-primary me-3"> + Add
          Site</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">Serial</th>
            <th scope="col">Site Name</th>
            <th scope="col">Site Key</th>
            <th scope="col">DNS</th>
            <th scope="col">Company</th>
            <th scope="col">Country</th>
            {% if 'write' in user.permissions %}
            <th scope="col">Update</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for site in sites %}
          <tr class="text-center">
            <th scope="row">{{site.site_id}}</th>
            <td>{{site.sitename}}</td>
            <td>{{site.sitekey}}</td>
            <td>{{site.dns}}</td>
            <td>{{site.company_name}}</td>
            <td>{{site.country_name}}</td>
            {% if 'write' in user.permissions %}
            <td> <a href="/app/home/site/update/{{site.site_id}}" class="update-site btn btn-dark">Update</a></td>
            {% endif %}
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% include 'managementApps/partials/footer.html' %}