{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}

<div class="col py-3">
    <div class="card">
        <div class="card-header">
            <h5>Change Password</h5>
        </div>
        {% if alert %}
        <div class="alert alert-danger text-center mt-2">{{alert}}</div>
        {% endif %}
        <div class="card-body">
            <form method="post" action="{% url 'managementApps:change_password' users.id %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="old-pass" class="form-label">Current Password:</label>
                    <input type="text" class="form-control" id="current-pass" name="current_pass" required>
                </div>


               

                <div class="mb-3">
                    <label for="new-pass" class="form-label">New Password:</label>
                    <input type="password" class="form-control " id="new-pass" name="new_pass" required>
                </div>

                <div class="mb-3">
                    <label for="confirm-pass" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm-pass" name="confirm_pass" required>
                </div>



                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>

{% include 'managementApps/partials/footer.html' %}