

{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}

<div class="container">
   <div class="card bg-transparent">
       <h2 class="text-center"><i class="fas fa-sign-in-alt"></i> Login</h2>
       
       <form method="post" action="{% url 'managementApps:custom_login' %}">
          {% csrf_token %}
           <div class="form-group mt-2">
            <label for="username"><i class="fas fa-envelope"></i> Username:</label>
            <input type="text " class="form-control mt-2" id="username" name="username" required><br>
           </div>
           <div class="form-group">
            <label for="password"><i class="fas fa-lock"></i> Password:</label>
            <input type="password" class="form-control mt-2" id="password" name="password" required><br>
           </div>
           <div class="text-center mt-2 mb-2">
               <button type="submit" class="btn btn-primary btn-block" ><i class="fas fa-sign-in-alt"></i> Login</button>
           </div>
           
       </form>
       {% if form.errors %}
       <p class="text-center text-danger">Authentication Failed!</p>
       {% endif %}
   </div>
</div>

{% include 'managementApps/partials/footer.html' %}