{% include 'managementApps/partials/header.html' %}

{% include 'managementApps/partials/nav.html' %}

<div class="col py-3">
    <div class="card">
        <div class="card-header">
            <h5>Update User Information</h5>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'managementApps:update_user' users.id %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control bg-secondary text-light" id="username" name="username" value="{{users.username}}" required readonly>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{users.email}}" required>
                </div>

               

                <div class="mb-3">
                    <label for="superuser" class="form-label">Superuser:</label>
                    <select class="form-select" id="superuser" name="superuser">
                        <option value="no" {% if 'no' in users.superuser %}selected{% endif %}>No</option>
                        <option value="yes" {% if 'yes' in users.superuser %}selected{% endif %}>Yes</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Permissions:</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="read_permission" name="permissions" value="read" {% if 'read' in users.permissions %}checked{% endif %}>
                        <label class="form-check-label" for="read_permission">Read</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="write_permission" name="permissions" value="write" {% if 'write' in users.permissions %}checked{% endif %}>
                        <label class="form-check-label" for="write_permission">Write</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Update User</button>
            </form>
        </div>
    </div>
</div>

{% include 'managementApps/partials/footer.html' %}